.DS_Store
.ipynb_checkpoints
Tareas/
*.jpg
*.jpeg
*.png
*.gif
*.pdf
*.mp4
L*
Proyecto_Final/Video/imgs
Proyecto_Final/Video/media
Proyecto_Final/Video/Codigos/__pycache__
Proyecto_Final/Dataset/
Proyecto_Final/Codigo/Figures/